body {
    background: linear-gradient(90.76deg, #00836B 0.6%, #006383 99.35%);
    margin: 0;
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display:grid;
    grid-template-rows:30px auto;
    height:100%;
    width:100%;
}
html{
    height:100%;
    width:100%;
}
button{
    outline:none;
    border:none;
}
.head{
    color:white;
    margin:5px;
    height:20px;
    -webkit-app-region: drag;
    z-index:10;
}

.head .logo {
    height:16px;
    margin:5px;
}

.head .window-control {
    float: right;
    align-items: center;
    padding: 3px 10px;
    z-index: 10;
    -webkit-app-region: no-drag;
}
.head .window-control button {
   margin:0;
   padding:0;
   background:none;
   border:none;
   outline:none;
   margin:0px 3px;
   opacity: 0.6;
}
.head .window-control button:hover {
    opacity:1;
    transition: opacity 0.5s;
}
.head .window-control img{
    width:20px;
}

.view{
    color:white;
    height:100%;
}

.conversation {
    position: fixed;
    bottom: 0;
    outline: none;
    border: none;
    width: 100%;
    
}

.conversation embed {
    outline: none;
    border: none;
    height: 50%;
    position: fixed;
    bottom: 0;
}


:root {
    --main-green: #00B494;
    --main-blue: #0082AA;
    --main-red: #EC4B4B;
}



    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
        
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

*::-webkit-scrollbar-thumb {
    background-color: white;
    margin-right: 5px;
    border-radius: 20px;
    border: none;
}
 
