body{
    background:white;
    display: block;
    width: 100%;
}

.head{
    position: absolute;
    width: 100%;
    z-index: 100;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 0%, rgba(55, 55, 55, 0) 100%);

}

.view{
    position: relative;
    overflow: hidden;
}

.room-head{
    position: absolute;
    width:100%;
    margin-left: 10px;
    text-align:center;
}
#room-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 1rem;
}

#exit-room, #exit-room img{
    background: none;
    position: absolute;
    top: 1rem;
    left: 0;
    height: 40px;
    vertical-align: middle;
    float: right;
    margin:10px;
    z-index:20;
}
canvas{
    width:100%;
    overflow: hidden;
}

.conversation embed {
    width: 100%;
}

.conversation .participants{

    position:absolute;
    right:0;
    height:200px;
    bottom: 0;
}

.conversation .participants img{
    height:200%;
    display: inline-block;
}

.conversation .participants img[hidden]{
    display: none;
}

.conversation .participants img.hidden{
    display: none;
}


.notification-collection{

    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
}

.notification{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: max-content;
    margin: auto ;
    margin-bottom: 10px;
}
.notification *{
    display: inline-block;
    background-color:transparent;
    vertical-align: middle;
}
.notification p{
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 5px;
}


.notification button{
    padding:0px;
}
.notification img{
    height: 25px;
}
